html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(201, 217, 230);;
}

h1 {
  color: #000;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}

.display,  .control {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

.display_label, .control_label {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: auto 2rem;
}

.display_text, .display_textInterval {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  min-height: 100px;
  min-width: 100px;
  border: solid 1px;
  background-color: #efeeee;
}

.control_interval {
  color: #000;
  font-weight: 700;
  text-align: center;
}

.control_limit {
  color: #000;
  font-weight: 700;
  text-align: center;
}